    <hr>
    <!-- Footer -->
    <footer>
        <div class="text-center">
            <div class="col-lg-12">
                <p>
                    Copyright &copy; Thruk 2009-{{ 'now' | date: "%Y" }}
                  - <a href="{{ site.baseurl }}impressum.html">Imprint / Impressum</a>
                  - <a href="{{ site.baseurl }}donate.html">Donations</a>
                </p>
            </div>
        </div>
    </footer>
    </div>

    <!-- Script to Activate the Carousel -->
    <script>
    jQuery('.carousel').carousel({
        interval: 60000 //changes the speed (ms)
    })
    </script>

</body>
</html>
