<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Thruk is a Monitoring Webinterface for Naemon, Nagios, Icinga and Shinken">
    <meta name="author" content="Sven Nierlein">
    <link rel="shortcut icon" href="{{ site.baseurl }}images/favicon.ico" type="image/ico" />
    <title>{{ site.name }} - {{ page.title }}</title>

    <link href="{{ site.baseurl }}font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

{% bundle %}
- /css/bootstrap.min.css
- /css/lightbox.css
- /css/asciidoctor-default.css
- /css/syntax.css
- /css/style.css
{% endbundle %}
</head>

<body data-spy="scroll" data-offset="100" data-target="#affix-nav" class="{{ page.class }}">

{{ content }}
