---
title: What's New?
layout: default
---

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">What's new in Thruk?</h2>
    </div>
    <div class="col-md-6">
        <p>Get an introduction on some useful highlights of specific releases.</p>
        <ul>
            {% assign versions = site.pages | sort: 'url' | reverse %}
            {% for page in versions %}
                {% if page.url contains 'whatsnew/v' %}
                    <li><a href=".{{ page.url }}">What's new in release {{ page.version }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="images/analysis-blackboard-board-355952.jpg" alt="">
    </div>
</div>